@using E_Procurement.Models
@model dynamic
@{
    ViewBag.Title = "MyTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int openbidcounter = 0;
    int closedbidcounter = 0;
    int purchaseorderCounter = 0;
    int purchaseContractsCounter = 0;
}
<div class="content container-fluid">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header text-center" data-background-color="darkgreen">
                <h5 class="title"><i>My Transaction Hub</i></h5><strong><i>The Transaction Hub enables you to quickily access your Bid Responses, Purchase Contracts and Purchase Orders</i></strong>
            </div>
            </div>
                <div class="row filter-row">
                    <div class="col-sm-4 col-xs-6">
                        <div class="form-group form-focus">
                            <label class="control-label">No. of Bid Responses</label>
                            <input type="text" class="form-control floating" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="form-group form-focus select-focus">
                            <label class="control-label">No. of Purchase Contracts</label>
                            <input type="text" class="form-control floating" />
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active" style="background-color:#D3D3D3">
                            <a href="#tab_bid_responses" data-toggle="tab"><p style="color:black"><strong>Bid Responses</strong> </p></a>
                        </li>
                        <li style="background-color:#D3D3D3">
                            <a href="#tab_purchase_orders" data-toggle="tab"><p style="color:black"><strong>Purchase Orders</strong></p> </a>
                        </li>
                        <li style="background-color:#D3D3D3">
                            <a href="#tab_purchase_contracts" data-toggle="tab"><p style="color:black"><strong>Purchase Contracts</strong></p> </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab_bid_responses">
                            <div class="row">
                                <div class="panel panel-heading" style="background-color:#8FBC8F">
                                    <h5 class="panel-title">Ongoing Bid Responses</h5>
                                </div>
                                <p>This section shows the Bid Responses that are at the Draft Stage and are yet to be submitted by the bidder.</p>
                                <div class="row filter-row">
                                    <div class="col-sm-4 col-xs-6">
                                        <label class="control-label">Invitation Notice Type</label>
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <label class="control-label">Location Code</label>
                                        <div class="form-group form-focus select-focus">
                                            <input type="text" class="form-control floating" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3  col-xs-6">
                                        <a href="#" class="btn btn-success btn-block"> Search </a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped custom-table datatable">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Bid Response No.</th>
                                                    <th>Document Date</th>
                                                    <th>Bidder Type</th>
                                                    <th>Invitation for Supply</th>
                                                    <th>Tender Name</th>
                                                    <th>Location Code</th>
                                                    <th>Amount</th>
                                                    <th>Amount Including VAT</th>
                                                    <th>Document Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (BidResponseDetailsModel item in Model.BidDetails)
                                                {
                                                openbidcounter++;
                                                <tr>
                                                    <td>
                                                        @openbidcounter
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("", "", new { tendernumber = @item.No })"><strong>@Html.DisplayFor(modelItem => item.No)</strong></a>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Document_Date)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Bidder_type)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Invitation_For_Supply_No)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Tender_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Location_Code)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Amount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Amount_Including_VAT)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Document_Status)

                                                    </td>

                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="panel panel-heading" style="background-color:#8FBC8F">
                                    <h5 class="panel-title">Closed Bid Responses</h5>
                                </div>
                                <p>
                                    This section shows the Bid Responses that have been submitted and are being/have been actioned on. These bids will be at different stages such as Submitted, Withdrawn, Opened, Evaluation, Completion or Cancelled, depending on the sourcing cycle.
                                </p>
                                <div class="row filter-row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="form-group form-focus">
                                            <label class="control-label">Invitation Notice Type</label>
                                            <input type="text" class="form-control floating" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="form-group form-focus select-focus">
                                            <label class="control-label">Location Code</label>
                                            <input type="text" class="form-control floating" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="form-group form-focus select-focus">
                                            <label class="control-label">Document Status</label>
                                            <input type="text" class="form-control floating" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3  col-xs-6">
                                        <a href="#" class="btn btn-success btn-block"> Search </a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped custom-table datatable">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Bid Response No.</th>
                                                    <th>Document Date</th>
                                                    <th>Bidder Type</th>
                                                    <th>Invitation for Supply</th>
                                                    <th>Tender Name/th>
                                                    <th>Location Code</th>
                                                    <th>Amount</th>
                                                    <th>Amount Including VAT</th>
                                                    <th>Document Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (BidResponseDetailsModel item in Model.BidDetails)
                                                {
                                                closedbidcounter++;
                                                <tr>
                                                    <td>
                                                        @closedbidcounter
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("", "", new { tendernumber = @item.No })"><strong>@Html.DisplayFor(modelItem => item.No)</strong></a>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Document_Date)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Bidder_type)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Invitation_For_Supply_No)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Tender_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Location_Code)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Amount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Amount_Including_VAT)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Document_Status)

                                                    </td>

                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade " id="tab_purchase_orders">
                            <div class="row">
                                <div class="panel panel-heading" style="background-color:#8FBC8F">
                                    <h5 class="panel-title">Purchase Orders</h5>
                                </div>
                                <div class="tab-content">
                                    <ul class="nav nav-tabs">
                                        <li class="active" style="background-color:#D3D3D3">
                                            <a href="#tab_approved_orders" data-toggle="tab"><p style="color:black"><strong>All Approved Purchase Orders</strong> </p></a>
                                        </li>
                                        <li style="background-color:#D3D3D3">
                                            <a href="#tab_acknowledgment_orders" data-toggle="tab"><p style="color:black"><strong>Purchase Orders To Acknowledge</strong></p> </a>
                                        </li>
                                    </ul>
                                    <div class="tab-pane fade active in" id="tab_approved_orders">
                                        <p>
                                            This Section enables you to view and track the details of all Local Purchase Orders (LPOs) and Local Service Orders (LSOs)
                                            issued by the Procuring Entity (Buyer). Therefore, you are empowered to track all your purchase orders throught the entire
                                            procure-to-pay cycle.

                                        </p>
                                        <div class="col-md-12">
                                            <div class="panel panel-heading" style="background-color:#D3D3D3">
                                                <h5><strong><u>All Approved Purchase Orders</u></strong></h5>
                                            </div>
                                            <p>You can view the list of all Approved purchase orders that have been issued by the Procuring Entity (The Buyer). Please note that an Advanced Search facility has been provided to enable you refine your search further. Once you select a given PO, you can view its related posted documents such as Posted Receipts and Posted Invoices. </p>
                                            <div class="row filter-row">
                                                <div class="col-sm-3 col-xs-6">
                                                    <div class="form-group form-focus">
                                                        <label class="control-label">Purchase Order Type</label>
                                                        <input type="text" class="form-control floating" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-xs-6">
                                                    <div class="form-group form-focus select-focus">
                                                        <label class="control-label">Location Code</label>
                                                        <input type="text" class="form-control floating" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-xs-6">
                                                    <div class="form-group form-focus select-focus">
                                                        <label class="control-label">Order No</label>
                                                        <input type="text" class="form-control floating" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3  col-xs-6">
                                                    <a href="#" class="btn btn-success btn-block"> Search </a>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped custom-table datatable">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>No.</th>
                                                            <th>Order Type</th>
                                                            <th>Region</th>
                                                            <th>Description</th>
                                                            <th>Document Date</th>
                                                            <th>Amount Incl. VAT</th>
                                                            <th>View Orders</th>
                                                            <th>View Invoices</th>
                                                            <th>View Receipts</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (PurchaseOrders item in Model.PurchaseOders)
                                                        {
                                                        purchaseorderCounter++;
                                                        <tr>
                                                            <td>
                                                                @purchaseorderCounter
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.No)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Purchaseordertype)
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Region)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Description)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DocumentDate)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Amount_including_vat)
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-success" onclick="View('@Url.Action("ViewSingleTender", "Home", new { tendernumber = "" })')"><i class="fa fa-eye m-r-10"></i> View</a>

                                                            </td>
                                                            <td>
                                                                <a class="btn btn-success" onclick="View('@Url.Action("ViewSingleTender", "Home", new { tendernumber =""})')"><i class="fa fa-eye m-r-10"></i> View</a>

                                                            </td>
                                                            <td>
                                                                <a class="btn btn-success" onclick="View('@Url.Action("ViewSingleTender", "Home", new { tendernumber = "" })')"><i class="fa fa-eye m-r-10"></i> View</a>

                                                            </td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab_acknowledgment_orders">
                                        <p>This Section enables you to view and track the details of all purchase orders that require you, as the Vendor, to acknowledge receipt. You acknowledge purchase orders to communicate to the procuring entity that you have received, reviewed the details of, and accepted a purchase order.</p>
                                        <div class="col-md-12">
                                            <div class="panel panel-heading" style="background-color:#8FBC8F">
                                                <h5><strong><u>Purchase Orders To Acknowledge</u></strong></h5>
                                            </div>
                                            <p>You can view the list of all Approved purchase orders that have been issued by the Procuring Entity (The Buyer) that are pending your acknowledgement. Please note that to acknowledge a specific Purchase Order, you click on the ACKNOWLEDGE ORDER function </p>
                                            <div class="row filter-row">
                                                <div class="col-sm-3 col-xs-6">
                                                    <div class="form-group form-focus">
                                                        <label class="control-label">Purchase Order Type</label>
                                                        <input type="text" class="form-control floating" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-xs-6">
                                                    <div class="form-group form-focus select-focus">
                                                        <label class="control-label">Location Code</label>
                                                        <input type="text" class="form-control floating" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-xs-6">
                                                    <div class="form-group form-focus select-focus">
                                                        <label class="control-label">Order No</label>
                                                        <input type="text" class="form-control floating" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3  col-xs-6">
                                                    <a href="#" class="btn btn-success btn-block"> Search </a>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped custom-table datatable">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>No.</th>
                                                            <th>Order Type</th>
                                                            <th>Description</th>
                                                            <th>Document Date</th>
                                                            <th>Amount Incl. VAT</th>
                                                            <th>Currency Code</th>
                                                            <th>View Orders</th>
                                                            <th>View Invoices</th>
                                                            <th>View Receipts</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (PurchaseOrders item in Model.PurchaseOders)
                                                        {
                                                        purchaseorderCounter++;
                                                        <tr>
                                                            <td>
                                                                @purchaseorderCounter
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.No)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Purchaseordertype)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Description)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DocumentDate)

                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Amount_including_vat)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.currency_code)

                                                            </td>
                                                            <td>
                                                                <a class="btn btn-success" onclick="View('@Url.Action("ViewSingleTender", "Home", new { tendernumber = "" })')"><i class="fa fa-eye m-r-10"></i> View</a>

                                                            </td>
                                                            <td>
                                                                <a class="btn btn-success" onclick="View('@Url.Action("ViewSingleTender", "Home", new { tendernumber =""})')"><i class="fa fa-eye m-r-10"></i> View</a>

                                                            </td>
                                                            <td>
                                                                <a class="btn btn-success" onclick="View('@Url.Action("ViewSingleTender", "Home", new { tendernumber = "" })')"><i class="fa fa-eye m-r-10"></i> View</a>

                                                            </td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="tab_purchase_contracts">
                            <div class="row">
                                <div class="panel panel-heading" style="background-color:#8FBC8F">
                                    <h5 class="panel-title">Purchase Contracts/Agreements</h5>
                                </div>
                                <p>
                                    Purchase Contracts are purchase agreements you have made with the procuring entity (Buyer). On the Purchase Contracts page,
                                    you can review the details of those agreements, and the corresponding releases (purchase orders) that have been created for a
                                    particular agreement.
                                    You can use the search criteria to get a summarized list of purchase contracts/agreements. For each contract, you can select to
                                    view the releases created to date for that contract.


                                </p>

                                <div class="col-md-12">
                                    <h5><strong><u>Purchase Contracts/Agreements</u></strong></h5>
                                    <p>You can view the list of all purchase contracts/agreements that have been made with the Procuring Entity (The Buyer). Please note that you can view the details of each purchase contract by clicking on the CONTRACT DETAILS link. You can also view the Releases (Purchase Orders that have been raised against a given purchase contract) linked to a specific Purchase Contract by clicking on the VIEW ORDER RELEASES function. </p>
                                    <div class="row filter-row">
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="form-group form-focus">
                                                <label class="control-label">Contract Type</label>
                                                <input type="text" class="form-control floating" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="form-group form-focus select-focus">
                                                <label class="control-label">Location Code</label>
                                                <input type="text" class="form-control floating" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="form-group form-focus select-focus">
                                                <label class="control-label">Contract No</label>
                                                <input type="text" class="form-control floating" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3  col-xs-6">
                                            <a href="#" class="btn btn-success btn-block"> Search </a>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped custom-table datatable">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Contract No.</th>
                                                    <th>Contract Description</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Tender Sum</th>
                                                    <th>Tender ID</th>
                                                    <th>Contract Type</th>
                                                    <th>View Details</th>
                                                    <th>View Orders</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (PurchaseContracts item in Model.PurchaseContracts)
                                                {
                                                purchaseContractsCounter++;
                                                <tr>
                                                    <td>
                                                        @purchaseContractsCounter
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.No)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Contract_Description)
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Contract_Start_Date)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Contract_End_Date)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Awarded_Tender_Sum)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Tender_Id)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Conttract_type)

                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success" onclick="View('@Url.Action("ViewSingleTender", "Home", new { tendernumber =""})')"><i class="fa fa-eye m-r-10"></i> View</a>

                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success" onclick="View('@Url.Action("ViewSingleTender", "Home", new { tendernumber ="" })')"><i class="fa fa-eye m-r-10"></i> View</a>

                                                    </td>

                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>