@model  IEnumerable<E_Procurement.Models.SubmittedTenderResponse>
@{
    ViewBag.Title = "SubmittedTenders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int responsescounter = 0;
}
    

<div class="content container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-header text-center" data-background-color="darkgreen">
                <h5 class="title"><i><strong>Submitted Registration</strong></i></h5>
                <p>Welcome to E-procurement System</p>
            </div><br />
        </div>
    </div>
    <p>The e-Bidding Portal enables the tenderers to view all Active Invitation For Supply (IFS) Notices, download the related tender documents and allow for online submission of their bid responses.</p>
    <h5><u>List of All Submitted Tender Responses</u></h5>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>No.</th>
                            <th>Vendor No.</th>
                            <th>Vendor Name</th>
                            <th>Description</th>
                            <th>Submission EndDate</th>
                            <th>Application Status</th>
                            @*<th style="background-color:beige">Evaluation Score</th>*@
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            responsescounter++;
                            <tr>
                                <td>
                                    @responsescounter
                                </td>
                                <td>
                                    <a href="@Url.Action("ViewSubmittedOpenTenderResponses", "Home", new { responseNumber = @item.ResponseNo , tenderNo = @item.InvitationNo})"><strong>@Html.DisplayFor(modelItem => item.ResponseNo)</strong></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vendorNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VendorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tenderDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.endDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentStatus)
                                </td>
                              
                                @*<td style="background-color:beige">
                                        @Html.DisplayFor(modelItem => item.Final_Evaluation_Score)
                                    </td>*@
                                <td>
                                    <a href="@Url.Action("ViewSubmittedOpenTenderResponses", "Home", new { responseNumber = @item.ResponseNo, tenderNo = @item.InvitationNo})" class="btn btn-success"><i class="fa fa-eye m-r-10"></i> View</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
