@model  IEnumerable<E_Procurement.Models.ActiveContracts>
@{
    ViewBag.Title = "DraftDailyWorksRecords";
    Layout = "~/Views/Shared/_ContractorLayout.cshtml";
    int tenderCounter = 0;
}

<div class="content container-fluid">
    <div class="row">
        <div class="col-xs-4" style="width:100%">
            <h5><strong><u>Drafts's Works Executions Plans</u></strong></h5>
        </div>
        <p>
         Once the Project has Commenced, the Contractor is required to file/submit the following Key Reports/Activities
          Daily Work Records,Deliverables  Register,View Published Meetings Appointments, File Minnutes fro Project Meetings,File Work Confirmation Notices, View Inspection Request and Corrective Orders,View approved Payment Certificate.
        </p>  
    </div>
    <ul class="nav nav-tabs">
        <li class="active" style="background-color:#D3D3D3">
            <a href="#draft_daily_workrecords" data-toggle="tab"><p style="color:black"><strong>Draft Daily Work Records</strong> </p></a>
        </li>
        <li style="background-color:#D3D3D3">
            <a href="#pending_engineer_approval_records" data-toggle="tab"><p style="color:black"><strong>Pending Daily Engineer Approval Records</strong></p> </a>
        </li>
        <li style="background-color:#D3D3D3">
            <a href="#approved_daily_work_records" data-toggle="tab"><p style="color:black"><strong>Approved Daily Work Records</strong></p> </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="draft_daily_workrecords">
            <p>The following are the Drafts's Works Executions Plans</p>
            <div class="row filter-row">
                <div class="col-sm-4 col-xs-6">
                    <div class="form-group form-focus">
                        <label class="control-label">Search by Regions</label>
                        <input type="text" class="form-control floating" />
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="form-group form-focus select-focus">
                        <label class="control-label">Search by Contract No</label>
                        <input type="text" class="form-control floating" />
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <a href="#" class="btn btn-success btn-block"> Search </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Contract Ref No.</th>
                                    <th>Description</th>
                                    <th>Region</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Contract Value(Ksh)</th>
                                    <th>Project Commenced</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    tenderCounter++;
                                    <tr>
                                        <td>
                                            @tenderCounter
                                        </td>
                                        <td>
                                            <a href=""><strong>@Html.DisplayFor(modelItem => item.Code)</strong></a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tender_Name)

                                        </td>
                                        <td>
                                            Nairobi

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Submission_End_Date)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Document_Date)
                                        </td>
                                        <td>
                                            17,000,000,000,000
                                        </td>
                                        <td>
                                            Yes
                                        </td>
                                        <td>
                                            <a href="" data-toggle="modal" class="btn btn-success"><i class="fa fa-eye m-r-10"></i> View</a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pending_engineer_approval_records">
            <p>The following are the Engeneer's Pending Daily Works Approvals</p>
            <div class="row filter-row">
                <div class="col-sm-4 col-xs-6">
                    <div class="form-group form-focus">
                        <label class="control-label">Search by Regions</label>
                        <input type="text" class="form-control floating" />
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="form-group form-focus select-focus">
                        <label class="control-label">Search by Contract No</label>
                        <input type="text" class="form-control floating" />
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <a href="#" class="btn btn-success btn-block"> Search </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Contract Ref No.</th>
                                    <th>Description</th>
                                    <th>Region</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Contract Value(Ksh)</th>
                                    <th>Project Commenced</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    tenderCounter++;
                                    <tr>
                                        <td>
                                            @tenderCounter
                                        </td>
                                        <td>
                                            <a href=""><strong>@Html.DisplayFor(modelItem => item.Code)</strong></a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tender_Name)

                                        </td>
                                        <td>
                                            Nairobi

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Submission_End_Date)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Document_Date)
                                        </td>
                                        <td>
                                            17,000,000,000,000
                                        </td>
                                        <td>
                                            Yes
                                        </td>
                                        <td>
                                            <a href="" data-toggle="modal" class="btn btn-success"><i class="fa fa-eye m-r-10"></i> View</a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="approved_daily_work_records">
            <p>The following are the Approved Daily Work Records</p>
            <div class="row filter-row">
                <div class="col-sm-4 col-xs-6">
                    <div class="form-group form-focus">
                        <label class="control-label">Search by Regions</label>
                        <input type="text" class="form-control floating" />
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="form-group form-focus select-focus">
                        <label class="control-label">Search by Contract No</label>
                        <input type="text" class="form-control floating" />
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <a href="#" class="btn btn-success btn-block"> Search </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Contract Ref No.</th>
                                    <th>Description</th>
                                    <th>Region</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Contract Value(Ksh)</th>
                                    <th>Project Commenced</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    tenderCounter++;
                                    <tr>
                                        <td>
                                            @tenderCounter
                                        </td>
                                        <td>
                                            <a href=""><strong>@Html.DisplayFor(modelItem => item.Code)</strong></a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tender_Name)

                                        </td>
                                        <td>
                                            Nairobi

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Submission_End_Date)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Document_Date)
                                        </td>
                                        <td>
                                            17,000,000,000,000
                                        </td>
                                        <td>
                                            Yes
                                        </td>
                                        <td>
                                            <a href="" data-toggle="modal" class="btn btn-success"><i class="fa fa-eye m-r-10"></i> View</a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>